
# Fichiers temporaires et de test

*.go

*.js

*.py

*.tgz

*.tar.gz

*.json

!kustomization.yaml

!*.yaml



# Fichiers spécifiques

metrics.*

ngrok-*

tkn_*

combined.json

config.json

dockercfg.json

dockerhub-auth*.json

openshift-auth.json

test-*.yaml

*-working.yaml

*-clean.yaml

*-debug.yaml

*-final.yaml

*-fixed.yaml

*-simple.yaml

*-latest.yaml

*-source-fix.yaml

*-binding.yaml

*-template.yaml

pv-hostpath.yaml

pvc.yaml

servicemonitors-all.yaml

grafana-dashboard-all.yaml

kaniko-test.yaml

git-update-task.yaml

tt.yaml

unified-listener.yaml

event-listener*.yaml

prometheus*.yaml

service-monitor.yaml

service-binding.yaml

